Archivo Node Red
[8:08 p. m., 10/12/2021] Gerardo Fi: [{"id":"eb4684eb.e5b628","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"77506684.6d30c8","type":"mqtt out","z":"eb4684eb.e5b628","name":"","topic":"casa/FocoEncApa","qos":"2","retain":"","broker":"a71211a8.4c02c","x":530,"y":180,"wires":[]},{"id":"bb201d11.ef9a6","type":"ui_switch","z":"eb4684eb.e5b628","name":"","label":"Foco","tooltip":"","group":"b73b0ac7.e78788","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":310,"y":160,"wires":[["77506684.6d30c8","4d197f7a.47caf"]]},{"id":"a7828702.416868","type":"mqtt out","z":"eb4684eb.e5b628","…
[8:12 p. m., 10/12/2021] Gerardo Fi: [{"id":"eb4684eb.e5b628","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"77506684.6d30c8","type":"mqtt out","z":"eb4684eb.e5b628","name":"","topic":"casa/FocoEncApa","qos":"2","retain":"","broker":"a71211a8.4c02c","x":530,"y":180,"wires":[]},{"id":"bb201d11.ef9a6","type":"ui_switch","z":"eb4684eb.e5b628","name":"","label":"Foco","tooltip":"","group":"b73b0ac7.e78788","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":310,"y":160,"wires":[["77506684.6d30c8","4d197f7a.47caf"]]},{"id":"a7828702.416868","type":"mqtt out","z":"eb4684eb.e5b628","name":"","topic":"casa/VarFoco","qos":"2","retain":"","broker":"a71211a8.4c02c","x":520,"y":280,"wires":[]},{"id":"4b7626ef.d87708","type":"ui_slider","z":"eb4684eb.e5b628","name":"","label":"intensidad LED","tooltip":"","group":"b73b0ac7.e78788","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":"1","x":300,"y":240,"wires":[["a7828702.416868","be726249.acd83"]]},{"id":"fe281d9d.eeea7","type":"mqtt out","z":"eb4684eb.e5b628","name":"","topic":"casa/Puerta","qos":"2","retain":"","broker":"a71211a8.4c02c","x":510,"y":380,"wires":[]},{"id":"27afe92e.184f06","type":"ui_switch","z":"eb4684eb.e5b628","name":"","label":"Puerta","tooltip":"","group":"b73b0ac7.e78788","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"PA","onvalueType":"str","onicon":"","oncolor":"","offvalue":"PC","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":290,"y":380,"wires":[["fe281d9d.eeea7"]]},{"id":"c99540aa.eefca","type":"ui_text","z":"eb4684eb.e5b628","group":"b73b0ac7.e78788","order":3,"width":0,"height":0,"name":"","label":"Timbre","format":"{{msg.payload}}","layout":"row-center","x":530,"y":620,"wires":[]},{"id":"51ffe57f.923f7c","type":"mqtt in","z":"eb4684eb.e5b628","name":"","topic":"casa/Timbre","qos":"2","datatype":"utf8","broker":"a71211a8.4c02c","x":310,"y":640,"wires":[["c99540aa.eefca","410576aa.749438"]]},{"id":"410576aa.749438","type":"ui_audio","z":"eb4684eb.e5b628","name":"Timbre","group":"b73b0ac7.e78788","voice":"","always":true,"x":530,"y":660,"wires":[],"info":"aaagara"},{"id":"65abb0ba.237b3","type":"exec","z":"eb4684eb.e5b628","command":"sensible-browser http://192.168.0.22:8080/browserfs.html","addpay":true,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"Camara1","x":300,"y":460,"wires":[["4f1b25f1.2979cc"],[],[]]},{"id":"4f1b25f1.2979cc","type":"ui_template","z":"eb4684eb.e5b628","group":"d4dc8d57.ecc05","name":"","order":1,"width":0,"height":0,"format":"<h1 align=\"center\">Camara de Vigilancia 1</h1>\n<iframe style=\"width: 300px; height: 240px;\" src=\"http://192.168.0.23:8080/browserfs.html\" frameborder=\"0\" height=\"128\" scrolling=\"no\" width=\"313\">cccc</iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":440,"wires":[[]]},{"id":"6c3a06fe.c117a8","type":"exec","z":"eb4684eb.e5b628","command":"sensible-browser http://192.168.0.23:8080/browserfs.html","addpay":true,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"Camara2","x":300,"y":520,"wires":[["bdfbdc63.891b3"],["2c297382.dcf5cc"],[]]},{"id":"bdfbdc63.891b3","type":"ui_template","z":"eb4684eb.e5b628","group":"2cbaf0a8.9dbca","name":"","order":1,"width":0,"height":0,"format":"<h1 align=\"center\">Camara de Vigilancia 2</h1>\n<iframe style=\"width: 300px; height: 240px;\" src=\"http://192.168.0.22:8080/browserfs.html\" frameborder=\"0\" height=\"128\" scrolling=\"no\" width=\"313\">cccc</iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":500,"wires":[[]]},{"id":"4d197f7a.47caf","type":"ui_audio","z":"eb4684eb.e5b628","name":"Foco","group":"b73b0ac7.e78788","voice":"Microsoft Helena - Spanish (Spain)","always":true,"x":490,"y":140,"wires":[],"info":"aaagara"},{"id":"be726249.acd83","type":"ui_audio","z":"eb4684eb.e5b628","name":"Intensidad LED","group":"b73b0ac7.e78788","voice":"Microsoft Helena - Spanish (Spain)","always":true,"x":520,"y":240,"wires":[],"info":"aaagara"},{"id":"2c297382.dcf5cc","type":"ui_audio","z":"eb4684eb.e5b628","name":"Foco","group":"2cbaf0a8.9dbca","voice":"Microsoft Helena - Spanish (Spain)","always":true,"x":510,"y":540,"wires":[],"info":"aaagara"},{"id":"f2e0f4f9.d4dff8","type":"ui_text_input","z":"eb4684eb.e5b628","name":"Auto Encendido","label":"Hora de encendido LED´s: \"HH:MM:SS\"","tooltip":"","group":"b73b0ac7.e78788","order":8,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":760,"y":280,"wires":[["beb59742.4aced8"]]},{"id":"beb59742.4aced8","type":"mqtt out","z":"eb4684eb.e5b628","name":"","topic":"casa/AutEnc","qos":"2","retain":"","broker":"a71211a8.4c02c","x":950,"y":280,"wires":[]},{"id":"de4f7e89.28e6","type":"ui_text_input","z":"eb4684eb.e5b628","name":"Auto Apagado","label":"Hora de apagado: \"HH:MM:SS\"","tooltip":"","group":"b73b0ac7.e78788","order":8,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":760,"y":340,"wires":[["64127ace.1d8964"]]},{"id":"64127ace.1d8964","type":"mqtt out","z":"eb4684eb.e5b628","name":"","topic":"casa/AutApa","qos":"2","retain":"","broker":"a71211a8.4c02c","x":950,"y":340,"wires":[]},{"id":"ff897fce.f2c6a","type":"ui_text_input","z":"eb4684eb.e5b628","name":"Apagado Atenuacion","label":"Hora de apagado Atenuacion: \"HH:MM:SS\"","tooltip":"","group":"b73b0ac7.e78788","order":8,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":740,"y":420,"wires":[["f2c5dcdf.57054"]]},{"id":"f2c5dcdf.57054","type":"mqtt out","z":"eb4684eb.e5b628","name":"","topic":"casa/AutAte","qos":"2","retain":"","broker":"a71211a8.4c02c","x":950,"y":420,"wires":[]},{"id":"a71211a8.4c02c","type":"mqtt-broker","name":"","broker":"192.168.0.18","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b73b0ac7.e78788","type":"ui_group","name":"CASA","tab":"b13e2b8f.b99018","order":1,"disp":true,"width":"6","collapse":false},{"id":"d4dc8d57.ecc05","type":"ui_group","name":"Camara 1","tab":"b13e2b8f.b99018","order":2,"disp":true,"width":"6","collapse":false},{"id":"2cbaf0a8.9dbca","type":"ui_group","name":"Camara 2","tab":"b13e2b8f.b99018","order":3,"disp":true,"width":"6","collapse":false},{"id":"b13e2b8f.b99018","type":"ui_tab","name":"casa","icon":"dashboard","disabled":false,"hidden":false}]
